ul{
    display: flex;
    justify-content: center;
}
li{
    list-style: none;
    padding: 20px;
}
.navbar a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSp71m7QRVZZDjiOb9b1g70qvLuKbXPClsCfA&s'); /* Online Image URL */
    background-size: cover; /* Scale the image to cover the element */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating */
    border-radius: 5px; /* Optional rounded corners */
    transition: transform 0.3s ease; /* Smooth hover effect */
  }